<div class="container-bar">
  <div class="header">
    <h1>All Floor</h1>
    <div class="button-container">
      <button class="add-button" (click)="openDialogEditOrAdd(0 , 0 , 0)">
        <mat-icon>add</mat-icon>
        <span>Add</span>
      </button>
      <button class="back-button" routerLink="/mainPage">
        <mat-icon>home</mat-icon>
        <span>Back</span>
      </button>
    </div>
  </div>
  <mat-form-field color="accent" style="padding-left: 20px; padding-right: 20px;" appearance="outline"
    class="choose-building">
    <mat-label>Choose Building</mat-label>
    <mat-select [(value)]="selectedBuildingName" (selectionChange)="onBuildingChange($event.value)">
      <mat-option *ngFor="let building of allBuilding" [value]="building">{{building.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<br>

<div class="buildings-container">
  <table class="buildings-table">
    <thead>
      <tr>
        <th>Building Name</th>
        <th>Floor Number</th>
        <th>Total Rooms</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let floor of selectedFloors">
        <td>{{ selectedBuildingName.name }}</td>
        <td>{{ floor.number }}</td>
        <td>{{getTotalRooms(selectedBuildingName.id , floor.id)}}</td>
        <td>
          <button (click)="openDialogEditOrAdd(selectedBuildingName.id , floor.id , floor.number)"
            class="action-button">Update</button>
          <button (click)="openDeleteDialog(floor.id , selectedBuildingName.id , 0 , 'Floor') "
            class="delete-button">Delete</button>
          <button (click)="openAddMultiRoomDialog(floor.building_id , floor.id) " class="add-rooms-button">Add
            Rooms</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
