<div class="buildings-container">
  <div class="header">
    <h1>All Rooms</h1>
    <div class="button-container">
      <button (click)="openDialogEditOrAdd(0,0,'', 0)" class="add-button">
        <mat-icon>add</mat-icon>
        <span>Add</span>
      </button>
      <button class="back-button" routerLink="/mainPage">
        <mat-icon>home</mat-icon>
        <span>Back</span>
      </button>
      <div class="building-container">
        <mat-form-field class="choose-building">
          <mat-label>Choose Building</mat-label>
          <mat-select [(value)]="selectedBuilding" (selectionChange)="onBuildingChange($event.value)">
            <mat-option *ngFor="let building of allBuilding" [value]="building">{{building.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="choose-floor">
          <mat-label>Choose Floor</mat-label>
          <mat-select [(value)]="selectedFloorName" (selectionChange)="onFloorChange($event.value)">
            <mat-option [value]="'all'">All</mat-option>
            <mat-option *ngFor="let floor of selectedFloors" [value]="floor">{{floor.number}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <table class="buildings-table">
    <thead>
      <tr>
        <th>Building Name</th>
        <th>Floor Number</th>
        <th>Room Number</th>
        <th>Room Type</th>
        <th>Room Capacity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let room of filteredRooms">
        <td>{{ selectedBuilding?.name }}</td>
        <td>{{ getNumberFloor(room.floor_id)}}</td>
        <td>{{ room.number }}</td>
        <td>{{ room.type_room }}</td>
        <td>{{ room.capacity }}</td>
        <td>
          <button (click)="openDialogEditOrAdd(room.id , room.number,room.type_room , room.capacity)"
            class="action-button">Update</button>
          <button (click)="openDeleteDialog(room.id , 0 , 0 , 'Room')" class="delete-button">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
