<!-- <div id="intro">
  <div class="hotelLogo">
    <img id="LOGO" src="./assets/yanbo.jpeg" style="width:100px; height: 100px; margin-top: 10px;" alt="  ">
  </div>
  <div class="time">
    <div>
      <img src="./assets/calender.png" class="icon">
      <p style="display: inline;">{{ time | date: 'dd-MM-yyyy' }}</p><br>
      <img src="./assets/clock.png" class="icon">
      <p style="display: inline;">{{ time | date: 'hh:mm:ss a' }}</p>
    </div>
  </div>
</div> -->



<div class="time-date">
  <img src="./assets/calender.png" class="icon">
  <p style="display: inline;">{{ time | date: 'dd-MM-yyyy' }}</p><br>
  <img src="./assets/clock.png" class="icon">
  <p style="display: inline;">{{ time | date: 'hh:mm:ss a' }}</p>
</div>
