<div dir="rtl" class="filter-container">
  <p>Select Search Type</p>
  <div class="filter-options">
    <mat-radio-group [(ngModel)]="by" aria-label="Select an option">
      <!-- 0 => mobile --> <!-- 1=> student_number-->
      <mat-radio-button value="0">بحسب رقم الجوال</mat-radio-button>
      <mat-radio-button value="1">بحسب الرقم الجامعي</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="filter-options">
    <mat-form-field color="accent" appearance="outline" class="filter-field">
      <mat-label style="color: rgb(159, 158, 163);">Search Word</mat-label>
      <input matInput [(ngModel)]="value" placeholder="Enter The Search Word">
    </mat-form-field>
    <mat-form-field color="accent" appearance="outline" class="filter-field">
      <mat-label>Select Start Date</mat-label>
      <input matInput [matDatepicker]="picker1" [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 color="accent"></mat-datepicker>
    </mat-form-field>
    <mat-form-field color="accent" appearance="outline" class="filter-field">
      <mat-label>Select End Date</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="expirDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 color="accent"></mat-datepicker>
    </mat-form-field>
  </div>
  <hr style="border: 1px solid #626486; width: 100%;">
  <button (click)="getReservation()" mat-raised-button color="primary">عرض النتائج</button>
</div>
<table class="reservation-table">
  <thead>
    <tr>
      <th>Building</th>
      <th>Room Number</th>
      <th>Student Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of reservation">
      <td>{{getBuildingNameByIdRoom(r.room_id)}}</td>
      <td>{{r.room_number}}</td>
      <td>{{r.student_name}}</td>
      <td>{{r.start_date}}</td>
      <td>{{r.expire_date}}</td>
      <td>
        <button
          (click)="openUpdateReservationDialog(r.id, r.student_name,  r.room_id, r.room_number, r.start_date, r.expire_date, r.facility_ids, getBuildingNameByIdRoom(r.room_id))"
          class="action-button">
          Update
        </button> <button (click)="openDeleteDialog(r.id , 'Reservation')" class="delete-button">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
