<div class="search-container">
  <p><strong>{{getTranslate('SelectSearch')}}</strong></p>
  <!-- اختيار المبنى -->
  <div class="form-row">
    <div class="radio-group">
      <!-- 0 => mobile --> <!-- 1=> student_number-->
      <div class="radio-container">
        <label><input type="radio" [(ngModel)]="by" value="0">{{getTranslate('ByPhone')}}</label>
        <label><input type="radio" [(ngModel)]="by" value="1">{{getTranslate('ByNumber')}}</label>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label>{{getTranslate('SearchWord')}}</label>
      <input type="text" [(ngModel)]="value" placeholder="{{getTranslate('Enter')}} {{getTranslate('SearchWord')}}">
    </div>
    <div class="form-group">
      <label>{{getTranslate('StartDate')}}</label>
      <input type="date" [(ngModel)]="startDate">
    </div>
    <div class="form-group">
      <label>{{getTranslate('ExpireDate')}}</label>
      <input type="date" [(ngModel)]="expirDate">
    </div>
  </div>
  <div class="submit">
    <button (click)="getReservation()">{{getTranslate('Confirm')}}</button>
  </div>
  <table class="building-table">
    <thead>
      <tr>
        <th>{{getTranslate('BuildingName')}}</th>
        <th>{{getTranslate('RoomNum')}}</th>
        <th>{{getTranslate('Name')}}</th>
        <th>{{getTranslate('StartDate')}}</th>
        <th>{{getTranslate('ExpireDate')}}</th>
        <th>{{getTranslate('Actions')}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of reservation">
        <td>{{getBuildingNameByIdRoom(r.room_id)}}</td>
        <td>{{r.room_number}}</td>
        <td>{{r.student_name}}</td>
        <td>{{r.start_date}}</td>
        <td>{{r.expire_date}}</td>
        <td>
          <button
            (click)="openUpdateReservationDialog(r.id, r.student_name,  r.room_id, r.room_number, r.start_date, r.expire_date, r.facility_ids, getBuildingNameByIdRoom(r.room_id))"
            class="action-button">
            {{getTranslate('Update')}}
          </button>
          <button (click)="openDeleteDialog(r.id, 'Reservation')"
            class="delete-button">{{getTranslate('Delete')}}</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
