<div class="main-container">
  <h1>Reservation Management</h1>
  <mat-tab-group mat-stretch-tabs backgroundColor="accent">
    <mat-tab label="Make Reservation" aria-label="primary">
      <div class="reservatoin-container"><app-make-reservation></app-make-reservation></div>
    </mat-tab>
    <mat-tab label="Get Reservation By Date" aria-label="primary">
      <div class="floor-container"><app-get-reservation-by-date></app-get-reservation-by-date></div>
    </mat-tab>
    <mat-tab label="Get Reservation By Student" aria-label="primary">
      <div class="floor-container"><app-get-reservation-by-student></app-get-reservation-by-student></div>
    </mat-tab>
  </mat-tab-group>
</div>
