<div dir="auto" class="container-page">
  <div class="top-bar">
    <div class="title-page">
      <h1>{{getTranslate('ReservationManagement')}}</h1>
    </div>
    <button class="back-button" routerLink="/mainPage">
      <mat-icon>home</mat-icon>
      <span>{{getTranslate('Back')}}</span>
    </button>
  </div>
  <div dir="auto" class="user-table-container">
    <mat-tab-group mat-stretch-tabs backgroundColor="accent">
      <mat-tab label="{{getTranslate('MakeReservation')}}" aria-label="primary">
        <div class="reservatoin-container"><app-make-reservation></app-make-reservation></div>
      </mat-tab>
      <mat-tab label="{{getTranslate('GetByDate')}}" aria-label="primary">
        <div class="get-container"><app-get-reservation-by-date></app-get-reservation-by-date></div>
      </mat-tab>
      <mat-tab label="{{getTranslate('GetByStudent')}}" aria-label="primary">
        <div class="get-container"><app-get-reservation-by-student></app-get-reservation-by-student></div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
