<div class="main-container">
  <button class="add-button" (click)="openDialogEditOrAdd(0,0,[] ,0 ,0)" class="add-button">
    <mat-icon>add</mat-icon>
    <span>{{getTranslate('Add')}}</span>
  </button>
  <div class="form-row">
    <div class="form-group">
      <label><i class="fas fa-building"></i> {{getTranslate('ChooseBuilding')}}</label>
      <select [(ngModel)]="selectedBuilding" (change)="onBuildingChange(selectedBuilding)">
        <option value="" disabled selected hidden>{{ getTranslate('ChooseBuilding') }}</option>
        <option *ngFor="let building of allBuilding" [value]="building.id">{{building.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label><i class="fas fa-layer-group"></i> {{getTranslate('ChooseFloor')}}</label>
      <select id="floor" [(ngModel)]="selectedFloorName" (change)="onFloorChange(selectedFloorName)">
        <option value="All">All</option>
        <option *ngFor="let floor of selectedFloors" [value]="floor.id">{{floor.number}}</option>
      </select>
    </div>
  </div>
  <table class="building-table">
    <thead>
      <tr>
        <th>{{getTranslate('BuildingName')}}</th>
        <th>{{getTranslate('FloorNum')}}</th>
        <th>{{getTranslate('SuitesNumber')}}</th>
        <th>{{getTranslate('TotalRooms')}}</th>
        <th>{{getTranslate('Actions')}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let suite of filteredSuites">
        <td>{{ getNameBuilding(selectedBuilding)}}</td>
        <td>{{ getNumberFloor(suite.floor_id)}}</td>
        <td>{{ suite.number }}</td>
        <td>{{ getCountRoomInSuite(suite) }}</td>
        <td>
          <button
            (click)="openDialogEditOrAdd(suite.id , suite.number , suite.rooms , suite.building_id , suite.floor_id)"
            class="action-button">{{getTranslate('Update')}}</button>
          <button (click)="openDeleteDialog(suite.id , suite.building_id ,suite.floor_id , 'Suite')"
            class="delete-button">{{getTranslate('Delete')}}</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
