<div [dir]="currentLang === 'ar' ? 'rtl' : 'ltr'" class="overlay">
  <div class="dialog-box">
    <h2><i class="fas fa-user-edit"></i>{{title}}</h2>
    <div class="form-row">
      <div class="form-group">
        <label><i class="fas fa-user"></i> {{getTranslate('Name')}}</label>
        <input type="text" [(ngModel)]="studentName" placeholder="{{getTranslate('Enter')}} {{getTranslate('Name')}}">
      </div>
      <div class="form-group">
        <label><i class="fa-regular fa-hashtag"></i>{{getTranslate('PersonalNum')}}</label>
        <input type="text" [(ngModel)]="studentNumber"
          placeholder="{{getTranslate('Enter')}}{{getTranslate('PersonalNum')}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label><i class="fas fa-phone"></i> {{getTranslate('Mobile')}}</label>
        <input  [(ngModel)]="studentMobile"
          placeholder="{{getTranslate('Enter')}} {{getTranslate('Mobile')}}">
      </div>
    </div>
    <div class="dialog-actions">
      <button class="cancel-btn" (click)="onClickCancel()">
        <i class="fas fa-times"></i> {{getTranslate('Cancel')}}
      </button>
      <button class="confirm-btn" (click)="onClickOk()">
        <i class="fas fa-check"></i> {{nameBtn}}
      </button>
    </div>
  </div>
</div>
