<div dir="auto" class="overlay">
  <div class="dialog-box">
    <h2><i class="fas fa-user-edit"></i> <strong>{{getTranslate('UpdateReservation')}}</strong></h2>
    <div class="info-reser">
      <h4>{{getTranslate('Name')}} : {{data.nameUser}}</h4>
      <h4>{{getTranslate('ReservationNumber')}} : {{data.idReservation}}</h4>
    </div>
    <!-- تعديل التاريخ -->
    <button mat-button class="toggle-options-btn" (click)="toggleEditDate()">
      {{getTranslate('UpdateDate')}}
      <mat-icon>{{ editDate ? 'expand_less' : 'expand_more' }}</mat-icon>
    </button>
    <div class="room-update" *ngIf="editDate" [@slideToggle]>
      <div class="info-reser">
        <h4>{{getTranslate('StartDate')}} : {{data.start_date}}</h4>
        <h4>{{getTranslate('ExpireDate')}} : {{data.expire_date}}</h4>
      </div>
      <div class="info-reservation">
        <div class="form-group">
          <label><i class="fas fa-calendar-alt"></i> {{getTranslate('StartDate')}}</label>
          <input type="date" [(ngModel)]="startDate">
        </div>
        <div class="form-group">
          <label><i class="fas fa-calendar-check"></i> {{getTranslate('ExpireDate')}}</label>
          <input type="date" [(ngModel)]="expirDate">
        </div>
      </div>
    </div>
    <!-- تعديل الغرفة -->
    <button mat-button class="toggle-options-btn" (click)="toggleEditRoom()">
      {{getTranslate('UpdateRoom')}}
      <mat-icon>{{ editRoom ? 'expand_less' : 'expand_more' }}</mat-icon>
    </button>
    <div *ngIf="editRoom" [@slideToggle]>
      <div class="info-reser">
        <h4> {{getTranslate('CurrentRoom')}} {{data.room_number}} </h4>
      </div>
      <h3 style="margin: 0px; color: black;">
        <i class="fas fa-search"></i> <strong>{{getTranslate('SearchRoom')}}</strong>
      </h3>
      <div class="radio-container">
        <label><input type="radio" class="radio-option" [(ngModel)]="selectedOption"
            value="1">{{getTranslate('EmptyRoom')}}</label>
        <!-- <label><input type="radio" class="radio-option" [(ngModel)]="selectedOption"
            value="2">{{getTranslate('AvailableRoom')}}</label> -->
        <label><input type="radio" class="radio-option" [(ngModel)]="selectedOption"
            value="3">{{getTranslate('AllEmptyRoom')}}</label>
        <!-- <label><input type="radio" class="radio-option" [(ngModel)]="selectedOption"
            value="4">{{getTranslate('AllAvailableRoom')}}</label> -->
      </div>
      <div class="selection-container">
        <div class="selection-group">
          <label for="building">{{ getTranslate('ChooseBuilding') }}</label>
          <select id="building" [(ngModel)]="selectedBuildingId" (change)="onBuildingChange(selectedBuildingId)">
            <option *ngFor="let building of listBuilding" [value]="building.id">{{ building.name }}</option>
          </select>
        </div>
        <div class="selection-group">
          <label for="floor">{{ getTranslate('ChooseFloor') }}</label>
          <select id="floor" [(ngModel)]="selectedFloorId" (change)="onFloorChange(selectedFloorId)">
            <option value="all">All</option>
            <option *ngFor="let floor of filteredFloors" [value]="floor.id">{{ floor.number }}</option>
          </select>
        </div>
        <button class="search-button" (click)="checkReservation()">
          <i class="fas fa-search"></i>
        </button>
      </div>
      <div class="info-reservation">
        <div class="room-numbers">
          <button *ngFor="let r of availableRooms" class="room-number" (click)="selectRoom(r)"
            [ngClass]="{'active-room': r.number === selectedRoomNumber}">
            {{ r.number }}
          </button>
        </div>
      </div>
    </div>
    <!-- تعديل المرافق -->
    <button mat-button class="toggle-options-btn" (click)="toggleEditFacility()">
      {{getTranslate('UpdateFacilities')}}
      <mat-icon>{{ editFacility ? 'expand_less' : 'expand_more' }}</mat-icon>
    </button>
    <div class="room-update" *ngIf="editFacility" [@slideToggle]>
      <div class="facilities" *ngIf="facilitie.length>0">
        <div *ngFor="let f of facilitie">
          <div class="checkbox-container">
            <input type="checkbox" (change)="changeFacilitie(f.id)" [(ngModel)]="f.isChecked">
            {{ currentLang ==='ar' ? f.name_ar :f.name_en }}
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-actions">
      <button class="cancel-btn" (click)="onCancel()">
        <i class="fas fa-times"></i> {{getTranslate('Cancel')}}
      </button>
      <button class="confirm-btn" (click)="updateReservation()">
        <i class="fas fa-check"></i> {{getTranslate('Update')}}
      </button>
    </div>
  </div>
</div>
