<div dir="auto" class="overlay">
  <div class="dialog-box">
    <h2><i class="fas fa-user-edit"></i> {{title}}</h2>
    <div class="form-row">
      <div class="form-group">
        <label><i class="fas fa-building"></i> {{getTranslate('BuildingName')}}</label>
        <input type="text" [(ngModel)]="buildingName"
          placeholder="{{getTranslate('Enter')}} {{getTranslate('BuildingName')}}">
      </div>
      <div class="form-group">
        <label><i class="fa-regular fa-hashtag"></i>{{getTranslate('BuildingNumber')}}</label>
        <input type="text" [(ngModel)]="buildingNumber"
          placeholder="{{getTranslate('Enter')}} {{getTranslate('BuildingNumber')}}">
      </div>
    </div>
    <div *ngIf="showFormFieldFloor()" class="form-row">
      <div class="form-group">
        <label><i class="fas fa-layer-group"></i> {{getTranslate('TotalFloors')}}</label>
        <input type="text" [(ngModel)]="numberOfFloor"
          placeholder="{{getTranslate('Enter')}} {{getTranslate('TotalFloors')}}">
      </div>

      <div class="form-group">
        <label><i class="fa-regular fa-hashtag"></i> {{getTranslate('FloorNum')}}</label>
        <input type="text" [(ngModel)]="numberFloor"
          placeholder="{{getTranslate('Enter')}} {{getTranslate('FloorNum')}}">
      </div>
    </div>
    <div class="dialog-actions">
      <button class="cancel-btn" (click)="onNoClick()">
        <i class="fas fa-times"></i> {{getTranslate('Cancel')}}
      </button>
      <button class="confirm-btn" (click)="onClickOk()">
        <i class="fas fa-check"></i> {{nameBtn}}
      </button>
    </div>
  </div>
</div>
