<div mat-dialog-content class="dialog">
  <h1 mat-dialog-title>{{title}}</h1>
  <mat-form-field color="accent" style="padding-left: 5px;" appearance="outline">
    <mat-label>Building Name</mat-label>
    <input matInput [(ngModel)]="buildingName" placeholder="Enter Building Name">
  </mat-form-field>
  <mat-form-field color="accent" style="padding-left: 5px;" appearance="outline">
    <mat-label>Building Number</mat-label>
    <input matInput [(ngModel)]="buildingNumber" placeholder="Enter Building Number">
  </mat-form-field>
  <div *ngIf="showFormFieldFloor()">
    <mat-form-field color="accent" style="padding-left: 5px;" appearance="outline">
      <mat-label>Number Of Floor</mat-label>
      <input matInput [(ngModel)]="numberOfFloor" placeholder="Enter Number Of Floor">
    </mat-form-field>
    <mat-form-field color="accent" style="padding-left: 5px;" appearance="outline">
      <mat-label>Floor Number</mat-label>
      <input matInput [(ngModel)]="numberFloor" placeholder="Enter Floor Number">
    </mat-form-field>
  </div>
  <div mat-dialog-actions >
    <button mat-button (click)="onNoClick()" style="color: white;">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
    <button mat-button color="warn" (click)="onClickOk()" style="background-color: #087709bd; color: white;">
      <mat-icon>check</mat-icon> {{nameBtn}}
    </button>
  </div>
</div>

