<div dir="auto" class="user-page">
  <div class="top-bar">
    <button (click)="openDialogAdd()" class="add-button">
      <mat-icon>add</mat-icon>
      <span>{{getTranslate('Add')}}</span>
    </button>
    <div class="title-page">
      <h1>{{getTranslate('Facilities')}}</h1>
    </div>
    <button class="back-button" routerLink="/mainPage">
      <mat-icon>home</mat-icon>
      <span>{{getTranslate('Back')}}</span>
    </button>
  </div>
  <div dir="auto" class="user-table-container">
    <table class="user-table">
      <thead>
        <tr>
          <th>{{getTranslate('NameAR')}}</th>
          <th>{{getTranslate('NameEN')}}</th>
          <th>{{getTranslate('BuildingName')}}</th>
          <th>{{getTranslate('RoomType')}}</th>
          <th>{{getTranslate('Actions')}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let f of facilitie">
          <td>{{f.name_ar}}</td>
          <td>{{f.name_en}}</td>
          <td>{{getNameBuilding(f.building_id)}}</td>
          <td>{{getNameRoomTypes(f.room_types_id)}}</td>
          <td>
            <button (click)="openDeleteDialog(f.id , 'facilitie')"
              class="delete-button">{{getTranslate('Delete')}}</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
