<div class="user-container">
  <div class="header">
    <h1>All Facilitie</h1>
    <div class="button-container">
      <button (click)="openDialogAdd()" class=" add-button">
        <mat-icon>add</mat-icon>
        <span>Add</span>
      </button>
      <button class="back-button" routerLink="/mainPage">
        <mat-icon>home</mat-icon>
        <span>Back</span>
      </button>
    </div>
  </div>
  <table class="user-table">
    <thead>
      <tr>
        <th>Name AR</th>
        <th>Name EN</th>
        <th>Building</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of facilitie">
        <td>{{f.name_ar}}</td>
        <td>{{f.name_en}}</td>
        <td>{{getNameBuilding(f.building_id)}}</td>
        <td>{{getNameRoomTypes(f.room_types_id)}}</td>
        <td>
          <button (click)="openDeleteDialog(f.id , 'facilitie')" class="delete-button">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
