<div dir="auto" class="body" style="background: url('./assets/Room.jpeg') center/cover no-repeat;">
  <div class="form-container">
    <img src="./assets/Logo.webp" alt="Logo" class="logo">
    <p class="welcome-text">{{getTranslate('Welcome')}}</p>
    <p class="welcome-text">{{getTranslate('WelcomeLogin')}}</p>
    <form class="form">
      <div class="input-group">
        <label>{{getTranslate('UserName')}}</label>
        <input [(ngModel)]="user" type="text" name="username" id="username"
          placeholder="{{getTranslate('EnterUserName')}}" required>
      </div>
      <div class="input-group">
        <label>{{getTranslate('Password')}}</label>
        <input [(ngModel)]="password" type="password" name="password" id="password"
          placeholder="{{getTranslate('EnterPassword')}}" required>
      </div>
      <button (click)="logIn()" class="sign">Login</button>
    </form>
  </div>
</div>
