<div dir="auto" class="overlay">
  <div class="dialog-box">
    <h2><i class="fas fa-user-edit"></i> {{title}}</h2>
    <div class="form-row">
      <div *ngIf="showList()" class="form-group">
        <label><i class="fas fa-building"></i> {{getTranslate('ChooseBuilding')}}</label>
        <select [(ngModel)]="selectedBuildingName" (change)="onBuildingChange(selectedBuildingName)"
          class="custom-select">
          <option value="" disabled selected hidden>{{ getTranslate('ChooseBuilding') }}</option>
          <option *ngFor="let building of allBuilding" [value]="building.id">{{building.name}}</option>
        </select>
      </div>
      <div *ngIf="showList()" class="form-group">
        <label><i class="fas fa-layer-group"></i> {{getTranslate('ChooseFloor')}}</label>
        <select [(ngModel)]="selectedFloorNumber" (change)="onFloorChange(selectedFloorNumber)" class="custom-select">
          <option value="" disabled selected hidden>{{ getTranslate('ChooseBuilding') }}</option>
          <option *ngFor="let f of floor" [value]="f.id">{{f.number}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label><i class="fa-regular fa-hashtag"></i>{{getTranslate('SuitesNumber')}}</label>
        <input type="text" [(ngModel)]="suiteNumber"
          placeholder="{{getTranslate('Enter')}} {{getTranslate('SuitesNumber')}}">
      </div>
    </div>
    <div *ngIf="isUpdate">
      <h3 style="margin: 0;font-weight: bold;"> <i class="fa-solid fa-bed"></i> {{getTranslate('RoomInSuite')}}</h3>
      <div class="room-in-suite" *ngFor="let r of roomInSuite" [ngClass]="{'selected': selectedRoomIds.includes(r.id)}"
        (click)="toggleRoomSelection(r.id , getTranslate('Delete'))">
        <p>{{r.number}}</p>
      </div>
    </div>
    <h3 style="margin: 0;font-weight: bold;"> <i class="fa-solid fa-bed"></i> {{getTranslate('Rooms')}}</h3>
    <div class="room-in-suite" *ngFor="let r of filteredRooms" [ngClass]="{'selected': selectedRoomIds.includes(r.id)}"
      (click)="toggleRoomSelection(r.id,getTranslate('Add'))">
      <p>{{r.number}}</p>
    </div>
    <div class="dialog-actions">
      <button class="cancel-btn" (click)="onClickCancel()">
        <i class="fas fa-times"></i> {{getTranslate('Cancel')}}
      </button>
      <button class="confirm-btn" (click)="onClickOk()">
        <i class="fas fa-check"></i> {{nameBtn}}
      </button>
    </div>
  </div>
</div>
