<div mat-dialog-content class="dialog">
  <h1 mat-dialog-title>{{title}}</h1>

  <mat-form-field color="accent" appearance="outline" *ngIf="showListBuilding()" class="choose-building">
    <mat-label>Choose Building</mat-label>
    <mat-select placeholder="Select Building" [(value)]="selectedBuildingName"
      (selectionChange)="onBuildingChange($event.value)">
      <mat-option *ngFor="let building of allBuilding" [value]="building">{{building.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field color="accent" appearance="outline" style="padding-left: 5px;">
    <mat-label style="color: rgb(159, 158, 163);">Floor Number</mat-label>
    <input type="number" matInput [(ngModel)]="floorNumber" placeholder="Enter Floor Number">
  </mat-form-field>
  <div mat-dialog-actions>
    <button (click)="onClickCancel()" mat-button style="color: white;">
      <mat-icon>cancel</mat-icon> Cancel
    </button>
    <button (click)="onClickOk()" mat-button color="warn" style="background-color: #087709bd; color: white;">
      <mat-icon>check</mat-icon> {{nameBtn}}
    </button>
  </div>
</div>

