<div dir="auto" class="overlay">
  <div class="dialog-box">
    <h2><i class="fas fa-user-edit"></i> {{getTranslate('AddMultiRoom')}}</h2>
    <div class="form-row">
      <div class="form-group">
        <label><i class="fas fa-building"></i> {{getTranslate('NumberOfRoom')}}</label>
        <input type="text" [(ngModel)]="numberOfRoom"
          placeholder="{{getTranslate('Enter')}} {{getTranslate('NumberOfRoom')}}">
      </div>
      <div class="form-group">
        <label><i class="fa-regular fa-hashtag"></i>{{getTranslate('Firstroom')}}</label>
        <input type="text" [(ngModel)]="numberRoom"
          placeholder="{{getTranslate('Enter')}} {{getTranslate('Firstroom')}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label><i class="fas fa-building"></i> {{getTranslate('RoomType')}}</label>
        <select [(ngModel)]="selectedTypeRoom">
          <option value="" disabled selected hidden>{{ getTranslate('RoomType') }}</option>
          <option *ngFor="let r of listTypeRoom" [value]="r.id">{{r.name_ar}}</option>
        </select>
      </div>
      <div class="form-group">
        <label><i class="fa-regular fa-hashtag"></i> {{getTranslate('capacity')}}</label>
        <input type="text" [(ngModel)]="capacity" placeholder="{{getTranslate('Enter')}} {{getTranslate('capacity')}}">
      </div>
    </div>
    <div class="dialog-actions">
      <button class="cancel-btn" (click)="onClickCancel()">
        <i class="fas fa-times"></i> {{getTranslate('Cancel')}}
      </button>
      <button class="confirm-btn" (click)="addMultiRoom()">
        <i class="fas fa-check"></i> {{getTranslate('Add')}}
      </button>
    </div>
  </div>
</div>
