.form-row {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.choose-building,
.choose-floor {
  flex: 1;
}

.capacity-room,
.type-room,
.room-number {
  flex: 1;
}

.mat-form-field {
  width: 100%;
}
