<div  class="search-container">
  <!-- اختيار المبنى -->
  <div class="form-row">
    <div class="form-group">
      <label for="building">{{getTranslate('ChooseBuilding')}}</label>
      <select id="building" [(ngModel)]="selectedBuilding" (change)="onBuildingChange(selectedBuilding)">
        <option value="all">All</option>
        <option *ngFor="let building of buildings" [value]="building.id">{{building.name}}</option>
      </select>
    </div>
    <!-- اختيار الطابق -->
    <div class="form-group">
      <label for="floor">{{getTranslate('ChooseFloor')}}</label>
      <select id="floor" [(ngModel)]="selectedFloor" (change)="onFloorChange(selectedFloor)">
        <option value="all">All</option>
        <option *ngFor="let floor of floor" [value]="floor.id">{{floor.number}}</option>
      </select>
    </div>
    <!-- اختيار السويت -->
    <div class="form-group">
      <label for="suite">{{getTranslate('ChooseSuite')}}</label>
      <select id="suite" [(ngModel)]="selectedSuite" (change)="onSuiteChange(selectedSuite)">
        <option value="all">All</option>
        <option *ngFor="let suite of suite" [value]="suite.id">{{suite.number}}</option>
      </select>
    </div>
    <!-- اختيار الغرفة -->
    <div class="form-group">
      <label for="room">{{getTranslate('ChooseRoom')}}</label>
      <select id="room" [(ngModel)]="selectedRoom" (change)="onRoomChange(selectedRoom)">
        <option value="all">All</option>
        <option *ngFor="let room of filteredRooms" [value]="room.id">{{room.number}}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label>{{getTranslate('StartDate')}}</label>
      <input type="date" [(ngModel)]="startDate">
    </div>
    <div class="form-group">
      <label>{{getTranslate('ExpireDate')}}</label>
      <input type="date" [(ngModel)]="expirDate">
    </div>
  </div>
  <div class="submit">
    <button (click)="getReservation()">{{getTranslate('Confirm')}}</button>
  </div>
  <table class="building-table">
    <thead>
      <tr>
        <th>{{getTranslate('BuildingName')}}</th>
        <th>{{getTranslate('RoomNum')}}</th>
        <th>{{getTranslate('Name')}}</th>
        <th>{{getTranslate('StartDate')}}</th>
        <th>{{getTranslate('ExpireDate')}}</th>
        <th>{{getTranslate('Actions')}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of reservation">
        <td>{{getBuildingNameByIdRoom(r.room_id)}}</td>
        <td>{{r.room_number}}</td>
        <td>{{r.student_name}}</td>
        <td>{{r.start_date}}</td>
        <td>{{r.expire_date}}</td>
        <td>
          <button
            (click)="openUpdateReservationDialog(r.id, r.student_name,  r.room_id, r.room_number, r.start_date, r.expire_date, r.facility_ids, getBuildingNameByIdRoom(r.room_id))"
            class="action-button">
            {{getTranslate('Update')}}
          </button>
          <button (click)="openDeleteDialog(r.id, 'Reservation')"
            class="delete-button">{{getTranslate('Delete')}}</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
