<div dir="auto" class="search-container">
  <h4><i class="fa-solid fa-magnifying-glass"></i> {{getTranslate('SelectSearch')}}</h4>
  <div class="checkbox-container">
    <input type="checkbox" (change)="isChecked()" [(ngModel)]="checkedCollege">
    <label>{{getTranslate('Searchfor')}}</label>
  </div>
  <div class="radio-container">
    <label><input type="radio" [(ngModel)]="by" value="name">{{getTranslate('By1')}}</label>
    <label><input type="radio" [(ngModel)]="by" value="student_number">{{getTranslate('By2')}}</label>
    <label><input type="radio" [(ngModel)]="by" value="mobile">{{getTranslate('By3')}}</label>
  </div>
  <div class="form-row">
    <div class="form-group">
      <label><i class="fa-regular fa-a"></i>{{getTranslate('SearchWord')}}</label>
      <input type="text" [(ngModel)]="value" placeholder="{{getTranslate('Enter')}} {{getTranslate('SearchWord')}}">
    </div>
    <div class="form-group" *ngIf="showList">
      <label><i class="fa-solid fa-building"></i>{{getTranslate('StudentCollege')}}</label>
      <select id="collegeSelect">
        <option value="">{{getTranslate('Select')}} {{getTranslate('StudentCollege')}}</option>
      </select>
    </div>
  </div>
  <div class="submit">
    <button (click)="serachStudentBy()">{{getTranslate('Confirm')}}</button>
  </div>
  <table class="student-table">
    <thead>
      <tr>
        <th>{{getTranslate('Name')}}</th>
        <th>{{getTranslate('StudentNumber')}}</th>
        <th>{{getTranslate('Mobile')}}</th>
        <th>{{getTranslate('Actions')}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{student.name}}</td>
        <td>{{student.student_number}}</td>
        <td>{{student.mobile}}</td>
        <td>
          <button
            (click)="openDialogEditOrAdd(student.id , student.name , student.mobile , student.student_number ,  this.getTranslate('Update'))"
            class="action-button">{{getTranslate('Update')}}</button>
          <button (click)="openDeleteDialog(student.id , 'student')"
            class="delete-button">{{getTranslate('Delete')}}</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
