<div class="main-container">
  <mat-tab-group mat-stretch-tabs backgroundColor="accent">
    <mat-tab label="Buildings" aria-label="primary">
      <div class="building-container"><app-add-building></app-add-building></div>
    </mat-tab>
    <mat-tab label="Floors" aria-label="primary">
      <div class="floor-container"><app-add-floor></app-add-floor></div>
    </mat-tab>
    <mat-tab label="Rooms" aria-label="primary">
      <div class="room-container"><app-add-room></app-add-room></div>
    </mat-tab>
    <mat-tab label="Suites" aria-label="primary">
      <div class="room-container"><app-add-suite></app-add-suite></div>
    </mat-tab>
  </mat-tab-group>
</div>
