<!-- <div dir="rtl" class="top-bar">
  <app-header></app-header>
  <img id="LOGO" src="./assets/yanbo.jpeg" style="width:70px; height: 70px;" alt="  ">
</div>

<div class="main-content">
  <div class="sidebar">
    <button mat-raised-button color="accent" style="margin: auto; width: 100%; margin-top: 50px;">الطلاب</button>
    <button mat-raised-button color="accent" style="margin: auto; width: 100%; margin-top: 20px;">الغرف</button>
  </div>

  <div class="main-section">
    <div style="background-color: blueviolet; margin-top: 80px;">
      <h2 style="margin: auto; display: block;">ادارة الغرف</h2>
    </div>
  </div>
</div> -->
