* {
  box-sizing: border-box;
}

.all {
  height: 100%;
}

.row {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 20%;
  background: linear-gradient(90deg, #07113b, #0a1a4d, #122a6e);
  padding: 20px;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fffefb;
  /* background: linear-gradient(205deg, #2C3E50, #57687c, #b4c7dd); */
  padding: 15px;
  /* border-radius: 5px; */
}

.container-bar {
  display: flex;
  flex-direction: column;
  background: linear-gradient(90deg, #07113b, #0a1a4d, #122a6e);
}

.main {
  width: 80%;
  background-color: rgb(227 227 227);
}

.action {
  /* background: linear-gradient(90deg, #07113b, #0a1a4d, #122a6e); */
  display: flex;
  padding: 15px;
  gap: 10px;
}

.btn {
  background-color: #3f3f5f;
  border: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #2f2f52;
  border: solid 1px white;
}

.btn span {
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
}

.building-container {
  padding-top: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.choose-building,
.choose-floor {
  margin: 5px;
}

.room-data {
  padding: 10px;
}

.rooms-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.suite {
  border: 2px solid #3d2706;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.suite legend {
  font-weight: bold;
  padding: 0 5px;
  color: #000;
}

.room-in-suite {
  margin-bottom: 5px;
  padding: 0px;
}

.single-room {
  display: inline-block;
  padding: 2px;
  /* margin-bottom: 10px; */
}

.suite-container {
  margin-top: -5px;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
}

.choose-building {
  margin: 5px;
}

.choose-floor {
  margin: 5px;
}

.info-room {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.reservation {
  border-radius: 8px;
  background-color: #3f3f5f66;
  padding: 12px;
  border: solid 2px white;
  margin-top: 10px;
  text-align: start;
}

.reservation p {
  color: white;
  margin: 8px 0;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.reservation .icon {
  margin-right: 8px;
  color: #9195a3;
}

.action-reservation {
  display: flex;
  gap: 10px;
}

.no-reservations {
  text-align: center;
  margin-top: 20px;
  color: white;
}

.no-reservations-icon {
  font-size: 48px;
  color: #ff5252;
  width: 100%;
  height: auto;
}

.no-reservations-text {
  margin-top: 10px;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

/* h1 {
  color: cadetblue;
  font-weight: bold;
} */

h3 {
  color: white;
  text-align: center;
  margin: 0;
}

::ng-deep .mat-mdc-select-panel {
  background-color: #373f66 !important;
}

.btn-account {
  background-color: #63636c;
  border: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  justify-content: center;
  width: 99px;
  height: 42px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.facility {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px;
  margin: 5px;
}

.facility span {
  background-color: #373f66;
  border-radius: 8px;
  border: solid 1px white;
  padding: 5px;
  color: white;
}

.title-room {
  width: 100%;
  /* background-color: #122a6e; */
  background-color: rgb(255 255 255);
  border-radius: 8px;
  text-align: center;
  margin-bottom: 5px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}

.title-room h1 {
  color: #08123e;
  font-weight: bold;
}

.btn-account-wrapper {
  position: relative;
  display: inline-block;
}


.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.dropdown-item {
  padding: 10px 15px;
  cursor: pointer;
  text-align: center;
  color: #333;
  background-color: white;
  border: none;
  width: 100%;
}

.dropdown-item:hover {
  background-color: #f5f5f5;
}
