<div class="user-page">
  <div dir="auto" class="user-table-container">
    <h2>{{getTranslate('NewStudent')}}</h2>
    <div class="form-row">
      <div class="form-group">
        <label><i class="fas fa-user"></i> {{getTranslate('Name')}}</label>
        <input [(ngModel)]="student.name" placeholder="{{getTranslate('Enter')}} {{getTranslate('Name')}}">
      </div>
      <div class="form-group">
        <label><i class="fas fa-phone"></i> {{getTranslate('Mobile')}}</label>
        <input [(ngModel)]="student.mobile" placeholder="{{getTranslate('Enter')}} {{getTranslate('Mobile')}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label><i class="fa-solid fa-envelope"></i> {{getTranslate('Email')}}</label>
        <input [(ngModel)]="student.email" placeholder="{{getTranslate('Enter')}} {{getTranslate('Email')}}">
      </div>
      <div class="form-group">
        <label><i class="fa-regular fa-hashtag"></i>{{getTranslate('PersonalNum')}}</label>
        <input [(ngModel)]="student.student_number"
          placeholder="{{getTranslate('Enter')}} {{getTranslate('PersonalNum')}}">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label><i class="fas fa-globe"></i> {{ getTranslate('Nationality') }}</label>
        <input type="text" [(ngModel)]="student.nationality" placeholder="{{ getTranslate('SelectNationality') }}"
          list="nationalityList">
        <datalist id="nationalityList">
          <option *ngFor="let option of filteredOptions | async" [value]="option">{{ option }}</option>
        </datalist>
      </div>
      <div class="form-group">
        <label><i class="fas fa-university"></i> {{ getTranslate('StudentCollege') }}</label>
        <select [(ngModel)]="student.college" class="custom-select">
          <option value="" disabled selected hidden>{{ getTranslate('StudentCollege') }}</option>
          <option *ngFor="let c of listCollege" [value]="c.id">{{ c.college_ar }}</option>
        </select>
      </div>
    </div>
    <div class="submit">
      <button (click)="addStudent()">{{getTranslate('Confirm')}}</button>
    </div>
  </div>
</div>
