<div dir="auto" class="overlay">
  <div class="dialog-box">
    <h2><i class="fa-solid fa-building-columns"></i>{{getTranslate('MakeReservation')}}</h2>
    <div class="info-reservation">
      <h5><strong>{{getTranslate('RoomNum')}}: {{data.roomNumber}}</strong></h5>
      <h5><strong>{{getTranslate('StartDate')}}: {{data.startDate}}</strong></h5>
      <h5><strong>{{getTranslate('ExpireDate')}}: {{data.endDate}}</strong></h5>
    </div>
    <h4 style="color: black; margin-bottom: 5px;"><strong>{{getTranslate('SelectSearch')}}</strong></h4>
    <div class="search-options">
      <div class="radio-group">
        <label><input type="radio" [(ngModel)]="by" value="name">{{getTranslate('Name')}}</label>
        <label><input type="radio" [(ngModel)]="by" value="student_number">{{getTranslate('PersonalNum')}}</label>
      </div>
    </div>
    <div class="form-row">
      <div class="input-container">
        <input type="text" [(ngModel)]="value" placeholder="{{getTranslate('Enter')}} {{getTranslate('SearchWord')}}">
      </div>
      <button class="serach-btn" (click)="serachStudentBy()">
        <mat-icon>search</mat-icon> {{getTranslate('Search')}}
      </button>
    </div>
    <div class="form-group">
      <label>{{getTranslate('SelectGuest')}}</label>
      <select [(ngModel)]="selectedId" (change)="onStudentChange(selectedId)">
        <option *ngFor="let s of students" [value]="s.id"> Name: {{ s.name }} | Number: {{ s.student_number }}</option>
      </select>
    </div>
    <div class="form-group" *ngIf="facilities.length > 0">
      <p><strong>{{getTranslate('AvailableFacilities')}}</strong></p>
      <div class="facilities-container">
        <label class="select-all">
          <input type="checkbox" [(ngModel)]="allSelected" (change)="toggleSelectAll()">
          {{getTranslate('SelectAll')}}
        </label>
        <div class="facilities">
          <div *ngFor="let f of facilities">
            <label>
              <input type="checkbox" [checked]="selectedFacilities.includes(f.id)" (change)="toggleFacility(f.id)">
              {{ lang === 'ar' ? f.name_ar : f.name_en }}
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="dialog-actions">
      <button class="cancel-btn" (click)="cancelDialog()">
        <i class="fas fa-times"></i> {{getTranslate('Cancel')}}
      </button>
      <button class="confirm-btn" (click)="addUserReservation()">
        <i class="fas fa-check"></i> {{getTranslate('Confirm')}}
      </button>
    </div>
  </div>
</div>
