/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /* font-family: 'Cairo'; */

}

/* .dialog-panel .mat-mdc-dialog-container .mdc-dialog__container .mat-mdc-dialog-surface {
  background-color: #01053b;
  border: solid 3px white;
  border-radius: 8px;
}

.dialog-panel-delete .mat-mdc-dialog-container .mdc-dialog__container .mat-mdc-dialog-surface {
  background-color: #01053b;
  border: solid 1px white;
  border-radius: 8px;
} */
