<div class="search-container">
  <div class="filter-options">
    <div class="form-group">
      <label>{{getTranslate('ChooseBuilding')}}</label>
      <select [(ngModel)]="selectedBuildingId" (change)="onBuildingChange(selectedBuildingId)">
        <option *ngFor="let building of buildings" [value]="building.id">{{ building.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>{{getTranslate('StartDate')}}</label>
      <input type="date" [(ngModel)]="startDate">
    </div>
    <div class="form-group">
      <label>{{getTranslate('ExpireDate')}}</label>
      <input type="date" [(ngModel)]="expirDate">
    </div>
  </div>
  <div class="radio-group">
    <!-- 1->empty | 2->available | 3->allEmpty | 4->allAvailable  -->
    <div class="radio-container">
      <label><input type="radio" [(ngModel)]="selectedOption" value="1">{{getTranslate('EmptyRoom')}}</label>
      <!-- <label><input type="radio" [(ngModel)]="selectedOption" value="2">{{getTranslate('AvailableRoom')}}</label> -->
      <label><input type="radio" [(ngModel)]="selectedOption" value="3">{{getTranslate('AllEmptyRoom')}}</label>
      <!-- <label><input type="radio" [(ngModel)]="selectedOption" value="4">{{getTranslate('AllAvailableRoom')}}</label> -->
    </div>
  </div>
  <div class="additional-options-container">
    <button mat-button class="toggle-options-btn" (click)="toggleOptions()">
      {{getTranslate('MoreOptions')}}
      <mat-icon>{{ showOptions ? 'expand_less' : 'expand_more' }}</mat-icon>
    </button>
    <div class="more-filter-options" *ngIf="showOptions" [@slideToggle]>
      <div class="form-group">
        <label>{{getTranslate('ChooseFloor')}}</label>
        <select [(ngModel)]="selectedFloorId" (change)="onFloorChange(selectedFloorId)">
          <option value="all" selected>All</option>
          <option *ngFor="let floor of filteredFloors" [value]="floor.id">{{ floor.number }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>{{getTranslate('capacity')}}</label>
        <select [(ngModel)]="selectedCapacity">
          <option value="all" selected>All</option>
          <option *ngFor="let capacity of capacities" [value]="capacity">{{ capacity }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>{{getTranslate('RoomType')}}</label>
        <select [(ngModel)]="selectedRoomTypeId" (change)="onRoomTypeChange(selectedRoomTypeId)">
          <option value="all" selected>All</option>
          <option *ngFor="let roomType of roomTypes" [value]="roomType.id"> {{ lang === 'ar' ? roomType.name_ar :
            roomType.name_en }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <hr style="border: 1px solid #626486; width: 100%;">
  <div class="submit">
    <button (click)="checkReservation()">{{getTranslate('Confirm')}}</button>
  </div>
</div>
<!--Results-->
<div class="results-container" *ngIf="availableRooms.length>0">
  <h3><strong>{{getTranslate('AvailableRoom1')}}</strong></h3>
  <div class="room-numbers">
    <button *ngFor="let r of availableRooms" class="action-button" (click)="selectRoom(r)"
      [ngClass]="{'active-room': r.number === selectedRoomNumber}">
      {{ r.number }}
    </button>
  </div>
  <div class="room-details" *ngIf="selectedRoom">
    <div class="checkin-room">
      <h3><strong>{{getTranslate('RoomNum')}}</strong> : {{ selectedRoom.number }}</h3>
      <h3><strong>{{getTranslate('capacity')}}</strong> : {{ selectedRoom.availableCapacity }}</h3>
      <button class="confirm-btn"
        (click)="openReservationComponent(selectedRoom.id , selectedRoom.number , selectedRoom.building_id , selectedRoom.floor_id,  selectedRoom.suite_id , selectedRoom.availableCapacity , Start ,Expire )">
        <mat-icon>add</mat-icon> {{getTranslate('AddStudent')}}
      </button>
    </div>
    <hr style="border: 1px solid #626486; width: 100%;">
    <p><strong>{{getTranslate('CurrentTenants')}}</strong></p>
    <div class="occupants-container">
      <div *ngIf="selectedRoom.reservations && selectedRoom.reservations.length > 0">
        <div class="info">
          <div *ngFor="let res of selectedRoom.reservations" class="occupant-info">
            <p><strong>الاسم:</strong> {{ res.student_name }}</p>
            <p><strong>{{getTranslate('StartReser')}} : </strong> {{ res.start_date }}</p>
            <p><strong>{{getTranslate('StartReser')}} : </strong> {{ res.expire_date }}</p>
          </div>
        </div>
      </div>
      <div *ngIf="selectedRoom.reservations.length === 0">
        <p><strong>{{getTranslate('NoReservation')}}</strong></p>
      </div>
    </div>
    <div *ngIf="userReservations.length > 0">
      <hr style="border: 1px solid #626486; width: 100%;">
      <p><strong>{{getTranslate('AddedGuset')}}</strong></p>
    </div>
    <div *ngIf="userReservations.length > 0" class="info">
      <div *ngFor="let res of userReservations; let i = index" class="occupant-info">
        <p><strong>{{getTranslate('Name')}} : </strong> {{ res.student_name }}</p>
        <p><strong> {{getTranslate('StartReser')}} : </strong> {{ Start }}</p>
        <p><strong> {{getTranslate('StartReser')}} : </strong> {{ Expire }}</p>
        <div *ngIf="res.facility_ids.length>0">
          <p><strong>{{getTranslate('AddedFacilities')}}</strong></p>
          <div class="facilities">
            <div class="facilitie" *ngFor="let f of res.facility_ids">
              <p>{{getFacilitiesById(f)}}</p>
            </div>
          </div>
        </div>
        <button mat-button color="warn" (click)="deleteReservation(i)">
          <mat-icon>delete-button</mat-icon>
          <span>{{getTranslate('Delete')}}</span>
        </button>
      </div>
    </div>
    <div class="submit">
      <button *ngIf="userReservations.length > 0"
        (click)="makeReservation()">{{getTranslate('MakeReservation1')}}</button>
    </div>
  </div>
</div>
