.filter-options {
  display: flex;
  gap: 15px;
}

.more-filter-options {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.results-container {
  margin: 20px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.room-number {
  padding: 15px 30px;
  border: none;
  background-color: #626486;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.room-details {
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.room-details h3 {
  color: #3f51b5;
  font-weight: bolder;
}

.occupants-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.occupant-info {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  border: solid 1.5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  width: 235px;
  margin: 5px;
}

.occupant-info p {
  margin: 5px 0;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.checkin-room {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #80808038;
  padding: 10px;
}

.additional-options-container {
  margin-top: 10px;
}

.toggle-options-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: #01053b;
  width: 100%;
}

.more-filter-options {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  overflow: hidden;
}

.filter-field {
  width: 100%;
}

.facilities {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.facilitie {
  padding: 3px 5px;
  border: none;
  background-color: #01053b;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 13px;
  transition: background-color 0.3s;
}

.search-container {
  margin: 20px auto;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

h4 {
  font-weight: bold;
}

.radio-container {
  margin-bottom: 15px;
  margin-top: 15px;
}

.radio-container {
  display: flex;
  gap: 70px;
}

.radio-container input[type="radio"] {
  width: 18px;
  height: 18px;
  accent-color: #3E5879;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.radio-container input[type="radio"]:hover {
  transform: scale(1.1);
}

.radio-container input[type="radio"]:checked {
  transform: scale(1.2);
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
  transition: 0.3s ease-in-out;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.2);
}

.submit button {
  width: 100%;
  padding: 10px;
  background-color: #3E5879;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
}

.submit button:hover {
  background-color: #2b405d;
  box-shadow: 0px 4px 12px rgba(62, 88, 121, 0.4);
}

.room-numbers {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.action-button {
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-color: #3E5879;
  color: white;
  margin: 5px 0;
  min-width: 80px;
  text-align: center;
}

.action-button.active-room {
  position: relative;
  box-shadow: 0px 0px 10px 3px rgba(23, 41, 76, 0.7);
  transform: scale(1.05);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.action-button:hover {
  background-color: #213555;
  box-shadow: 0px 4px 8px rgba(62, 88, 121, 0.3);
}

.confirm-btn {
  border: none;
  padding: 0px 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.confirm-btn {
  background-color: #3E5879;
  color: white;
}

.confirm-btn:hover {
  background-color: #213555;
  box-shadow: 0px 4px 8px rgba(62, 88, 121, 0.3);
}
